@using Commons.HtmlHelpers
@model DAL.Models.Core.Producto
@{
    ViewData["Title"] = "Cargar Foto del Producto";
}

<form asp-action="_Image" enctype="multipart/form-data">

    @using (Html.BoxBody())
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Foto Portada:</label>
                    <input class="preview" type="file" name="FotoProducto" data-div="FotoProductoUpdate" />
                    <span id="alertaFondoProducto" class="text-danger"></span>
                </div>
                <div class="col-md-6" style=" text-align: center; ">
                    <div id="FotoProductoUpdate">
                        @if (@ViewBag.Foto != null)
                        {
                            <img src="data:image/gif;base64,@ViewBag.Foto" style="height:80px;width:80px" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Foto 1:</label>
                    <input class="preview" type="file" name="Foto1" data-div="FotoProductoUpdate1" />
                    <span id="alertaFondoProducto" class="text-danger"></span>
                </div>
                <div class="col-md-6" style=" text-align: center; ">
                    <div id="FotoProductoUpdate1">
                        @if (@ViewBag.Foto1 != null)
                        {
                            <img src="data:image/gif;base64,@ViewBag.Foto1" style="height:80px;width:80px" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Foto 2:</label>
                    <input class="preview" type="file" name="Foto2" data-div="FotoProductoUpdate2" />
                    <span id="alertaFondoProducto" class="text-danger"></span>
                </div>
                <div class="col-md-6" style=" text-align: center; ">
                    <div id="FotoProductoUpdate2">
                        @if (@ViewBag.Foto2 != null)
                        {
                            <img src="data:image/gif;base64,@ViewBag.Foto2" style="height:80px;width:80px" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Foto 3:</label>
                    <input class="preview" type="file" name="Foto3" data-div="FotoProductoUpdate3" />
                    <span id="alertaFondoProducto" class="text-danger"></span>
                </div>
                <div class="col-md-6" style=" text-align: center; ">
                    <div id="FotoProductoUpdate3">
                        @if (@ViewBag.Foto3 != null)
                        {
                            <img src="data:image/gif;base64,@ViewBag.Foto3" style="height:80px;width:80px" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Foto 4:</label>
                    <input class="preview" type="file" name="Foto4" data-div="FotoProductoUpdate4" />
                    <span id="alertaFondoProducto" class="text-danger"></span>
                </div>
                <div class="col-md-6" style=" text-align: center; ">
                    <div id="FotoProductoUpdate4">
                        @if (@ViewBag.Foto4 != null)
                        {
                            <img src="data:image/gif;base64,@ViewBag.Foto4" style="height:80px;width:80px" />
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Foto 5:</label>
                    <input class="preview" type="file" name="Foto5" data-div="FotoProductoUpdate5" />
                    <span id="alertaFondoProducto" class="text-danger"></span>
                </div>
                <div class="col-md-6" style=" text-align: center; ">
                    <div id="FotoProductoUpdate5">
                        @if (@ViewBag.Foto5 != null)
                        {
                            <img src="data:image/gif;base64,@ViewBag.Foto5" style="height:80px;width:80px" />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    @using (Html.BoxFooter())
    {
        <a class="btn btn-default" asp-action="Index">Cancelar</a>
        <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
    }

</form>

<script>
    $(function () {
        $(".preview").on("change", function (e) {
            let reader = new FileReader();
            reader.readAsDataURL(e.target.files[0]);
            reader.onload = function () {
                let preview = document.getElementById(e.target.attributes[3].value),
                image = document.createElement('img');
                image.style.width = "80px";
                image.style.height = "80px";
                image.src = reader.result;
                preview.innerHTML = '';
                preview.append(image);
            };
        });
    });
</script>