@model DAL.Models.Usuario

@{
    ViewData["Title"] = "Página Principal";
}
<link href="~/lib/calendar/fullcalendar.min.css" rel="stylesheet" />

<div class="row">


    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@ViewBag.Uno</h3>

                <p>@ViewBag.Title1</p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="#" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@ViewBag.Dos</h3>

                <p>@ViewBag.Title2</p>
            </div>
            <div class="icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <a href="#" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ViewBag.Tres<sup style="font-size: 20px"></sup></h3>

                <p>@ViewBag.Title3</p>
            </div>
            <div class="icon">
                <i class="fa fa-calculator"></i>
            </div>
            <a href="#" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@ViewBag.Cuatro</h3>

                <p>@ViewBag.Title4</p>
            </div>
            <div class="icon">
                <i class="fa f-"></i>
            </div>
            <a href="#" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <!-- ./col -->
</div>