@{
    ViewData["Title"] = "Tipos de Clientes";
}

@using DAL.Models
@model IEnumerable<TiposClientes>

<div class="box box-info">
    <div class="box-header with-border filtro-grilla">
        <span class="txt-titulo-box">Listado de Tipos de Clientes</span>
        <div class="input-group input-group-sm pull-right" style="max-width: 300px;">
            <a onclick="nuevoTipoCliente()" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Nuevo</span></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <table id="listadoTiposClientes" class="table table-hover table-bordered table-responsive borde_interno">
            <thead>
                <tr>
                    <th>
                        Tipo de Cliente
                    </th>
                    <th>
                        Actividades Semanales
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ToList())
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadActividadesSemanales)
                    </td>
                    <td>
                        <a onclick="editTipoCliente(@item.Id)" title="Editar Tipo de Cliente" class="btn btn-primary btn-xs"><i class="fa fa-file-text-o"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" confirm-icon="Danger" confirm-no="Cancelar" confirm-yes="Borrar" confirm="¿Esta seguro de borrar este Tipo de Cliente?" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<modal title="Edición de Tipo de Cliente" callback-modal="true" function="editTipoCliente" load-url="/Core/TiposClientes/_Update/" size="Medium"></modal>
<modal title="Nuevo Tipo de Cliente" callback-modal="true" function="nuevoTipoCliente" load-url="/Core/TiposClientes/_Create/" size="Medium"></modal>


<script>
    $(document).ready(function () {
    $('#listadoTiposClientes').DataTable(
        {
            "columnDefs": [{ "width": "85%", "targets": 0 }, { "width": "15%", class: "text-center","targets": 1 }, { "width": "15%",class:"text-center","searchable": false,"orderable": false,"targets": 2}],
            "language": {
                'url': '@Url.Content("~/lib/arg.json")'
            }
        }
    );
    });
</script>


